<nav class="navbar navbar-expand-lg navbar-primary bg-primary py-4">
  <!--<button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="openMenu()">
      <span class="navbar-toggler-icon"></span>
  </button>-->
  <button
    class="btn bd-search-docs-toggle d-md-none p-0 ml-3 collapsed"
    type="button"
    data-toggle="collapse"
    data-target="#bd-docs-nav"
    aria-controls="bd-docs-nav"
    aria-expanded="false"
    aria-label="Toggle docs navigation"
    (click)="openMenu()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        viewBox="0 0 30 30"
        role="img"
        focusable="false"
        style="color: black;">
          <title>
            Menu
          </title>
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-miterlimit="10"
            stroke-width="2"
            d="M4 7h22M4 15h22M4 23h22">
           </path>
      </svg>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="nav-link text-white h4" routerLink="home">{{'NAV.HOME' | translate}}</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li *ngFor="let link of links">
        <a class="nav-link text-white h4" [routerLink]="link.fragment" [queryParams]="{ param: link.param} ">{{link.title | translate}}</a>
      </li>
    </ul>
  </div>
  <select class="selectpicker" data-width="fit" (change)="changeLang($event.target.value)">
    <option [value]="LangName.SPANISH" selected>{{'LANGUAGES.ES' | translate}}</option>
    <option [value]="LangName.ENGLISH">{{'LANGUAGES.EN' | translate}}</option>
  </select>
  <button *ngIf="(userS.user$ | async) && !isBackOfficeRoute" class="btn btn-warning" (click)="goToBackOffice()" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    BackOffice
  </button>
  <button *ngIf="userS.user$ | async" class="btn btn-danger" (click)="logout()" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    Cerrar Sesión
  </button>
</nav>
<div [collapse]="isCollapsed">
  <ul class="list-group navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="list-group-item">
      <a class="navbar-brand" routerLink="home">{{'NAV.HOME' | translate}}</a>
    </li>
  </ul>
  <ul class="list-group navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="list-group-item" *ngFor="let link of links">
      <a class="nav-link" [routerLink]="link.fragment" [queryParams]="{ param: link.param} ">{{link.title | translate}}</a>
    </li>
  </ul>
</div>