<!-- this tag calls api _health end-point -->
<div hidden>{{healthResponse$ | async | json }}</div>

<div>
  <div style="padding: 20px">
    <div class="jumbotron">
      <div class="text-center">
        <img src="assets/logos/Azul.png" width="300">
      </div>
      <hr class="my-4">
      <h5 class="display-4 text-center">{{ 'HOME.TITLE' | translate }}</h5>
      <p class="text-center lead">
          {{ 'HOME.SUB_TITLE' | translate }}
      </p>
    </div>
  </div>
  <div class="row no-gutters bg-light position-relative">
    <div class="col-md-3 mb-md-0 p-md-4">
      <h2 class="text-center">{{'HOME.MISION.TITLE' | translate}}</h2>
    </div>
    <div class="col-md-9 position-static p-4 pl-md-0">
      <p class="text-center">{{'HOME.MISION.TEXT' | translate}}</p>
    </div>
  </div>
  <br>
  <div class="row no-gutters bg-light position-relative">
    <div class="col-md-3 mb-md-0 p-md-4">
      <h2 class="text-center">{{'HOME.VISION.TITLE' | translate}}</h2>
    </div>
    <div class="col-md-9 position-static p-4 pl-md-0">
      <p class="text-center">{{'HOME.VISION.TEXT' | translate}}</p>
    </div>
  </div>
  <br>
  <hr>
  <div style="padding: 20px">
    <div class="jumbotron">
      <h3 class="text-center">{{'HOME.ADOPTERSREVIEW.TITLE' | translate}}</h3>
        <p class="text-center lead">
        </p>
        <hr class="my-4">
        <carousel>
          <slide>
            <div class="text-center py-5 text-black" style="background-color: #e9ecef">
              <h2>{{'HOME.ADOPTERSREVIEW.NAMES.1' | translate}}</h2>
              <div class="lead">
                <p>{{'HOME.ADOPTERSREVIEW.REVIEWS.1' | translate}}</p>
              </div>
            </div>
          </slide>
          <slide>
            <div class="text-center py-5 text-black" style="background-color: #e9ecef">
              <h2>{{'HOME.ADOPTERSREVIEW.NAMES.2' | translate}}</h2>
              <div class="lead">
                <p>{{'HOME.ADOPTERSREVIEW.REVIEWS.2' | translate}}</p>
              </div>
            </div>
          </slide>
        </carousel>
      </div>
  </div>
  <div style="padding: 20px">
    <div class="jumbotron">
      <h3 class="text-center">{{'HOME.ADOPTIONDAYS.TITLE' | translate}}</h3>
        <p class="text-center lead"> 
          {{'HOME.ADOPTIONDAYS.TEXT' | translate}}
          <a href="https://audifax8.github.io/pet-son-landing/#/contact">{{'HOME.ADOPTIONDAYS.CONTACT' | translate}}</a>
        </p>
        <hr class="my-4">
        <carousel [isAnimated]="true">
          <slide>
            <img src="assets/adoptions/10-06-2020/1.jpeg" alt="first slide" style="display: block; width: 100%;">
            <div class="carousel-caption">
              <p>{{'HOME.ADOPTIONDAYS.LASTDATE' | translate}}</p>
            </div>
          </slide>
          <slide>
            <img src="assets/adoptions/10-06-2020/2.jpeg" alt="second slide" style="display: block; width: 100%;">
            <div class="carousel-caption">
              <p>{{'HOME.ADOPTIONDAYS.LASTDATE' | translate}}</p>
            </div>
          </slide>
          <slide>
            <img src="assets/adoptions/10-06-2020/3.jpeg" alt="third slide" style="display: block; width: 100%;">
            <div class="carousel-caption">
              <p>{{'HOME.ADOPTIONDAYS.LASTDATE' | translate}}</p>
            </div>
          </slide>
          <slide>
            <img src="assets/adoptions/10-06-2020/4.jpeg" alt="four slide" style="display: block; width: 100%;">
            <div class="carousel-caption">
              <p>{{'HOME.ADOPTIONDAYS.LASTDATE' | translate}}</p>
            </div>
          </slide>
          <slide>
            <img src="assets/adoptions/10-06-2020/5.jpeg" alt="five slide" style="display: block; width: 100%;">
            <div class="carousel-caption">
              <p>{{'HOME.ADOPTIONDAYS.LASTDATE' | translate}}</p>
            </div>
          </slide>
        </carousel>
      </div>
  </div>
  <hr>
  <div style="padding: 20px">
    <div class="jumbotron">
      <h3 class="text-center">{{'HOME.SPONSORS.TITLE' | translate}}</h3>
        <p class="text-center lead">
          {{'HOME.SPONSORS.TEXT' | translate}}
          <a href="https://audifax8.github.io/pet-son-landing/#/sponsors">{{'HOME.SPONSORS.LINKTEXT' | translate}}</a>
        </p>
        <hr class="my-4">
        <carousel [isAnimated]="true">
          <slide>
            <img src="assets/products/p1.jpeg" alt="first slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="assets/products/p2.jpeg" alt="third slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="assets/products/p3.jpeg" alt="first slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="assets/products/p4.jpeg" alt="third slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="assets/products/p5.jpeg" alt="third slide" style="display: block; width: 100%;">
          </slide>
        </carousel>
      </div>
  </div>
</div>
