<!-- this tag calls api _health end-point -->
<div hidden>{{healthResponse$ | async | json }}</div>
<div hidden>{{healthResponseDummiData$ | async | json }}</div>

<div>
  <div style="padding: 20px">
    <div class="jumbotron">
      <div class="text-center">
        <img src="assets/logos/Azul.png" width="300">
      </div>
      <hr class="my-4">
      <h5 class="display-4 text-center">!Bienvenido a la fundación PetSon!</h5>
      <p class="text-center lead">
        Esta fundación pretende ayudarte a encontrar tu próxima mascota, o como nosotros lo llamamos, tu futuro hijo.
      </p>
    </div>
  </div>
  <div class="row no-gutters bg-light position-relative">
    <div class="col-md-3 mb-md-0 p-md-4">
      <h2 class="text-center">Misión</h2>
    </div>
    <div class="col-md-9 position-static p-4 pl-md-0">
      <p class="text-center">
        La fundación PetSon tiene como objetivo principal velar, vigilar y proteger todas las
        mascotas de la ciudad de Medellín y sus alrededores con mira a nivel nacional y latino america,
        realizando diversas actividades en pro de las mascotas.
      </p>
    </div>
  </div>
  <br>
  <div class="row no-gutters bg-light position-relative">
    <div class="col-md-3 mb-md-0 p-md-4">
      <h2 class="text-center">Visión</h2>
    </div>
    <div class="col-md-9 position-static p-4 pl-md-0">
      <p class="text-center">
        Para el 2023, PetSon funcionará a nivel latino americano abriendo sedes en los países más afectados por esta problemática
      </p>
    </div>
  </div>
  <br>
  <hr>
  <div style="padding: 20px">
    <div class="jumbotron">
      <h3 class="text-center">Comentarios de nuestros adoptantes</h3>
        <p class="text-center lead">
        </p>
        <hr class="my-4">
        <carousel>
          <slide>
            <div class="text-center py-5 text-black" style="background-color: #e9ecef">
              <h2>Armando Estaban Quito</h2>
              <div class="lead">
                <p>Me encanta la labor que hacen por las mascotas</p>
              </div>
            </div>
          </slide>
          <slide>
            <div class="text-center py-5 text-black" style="background-color: #e9ecef">
              <h2>Rita Freises</h2>
              <div class="lead">
                <p>!Enconté mi mascota gracias a su labor!.</p>
              </div>
            </div>
          </slide>
        </carousel>
      </div>
  </div>
  <div style="padding: 20px">
    <div class="jumbotron">
      <h3 class="text-center">Jornadas de adopción</h3>
        <p class="text-center lead">
          vista previa de nuestras jornadas de adopción, si quieres conocer nuestra próxima jornada mira nuestra
          <a href="https://audifax8.github.io/pet-son-landing/#/contact">página de contácto.</a>
        </p>
        <hr class="my-4">
        <carousel [isAnimated]="true">
          <slide>
            <img src="assets/adoptions/10-06-2020/1.jpeg" alt="first slide" style="display: block; width: 100%;">
            <div class="carousel-caption">
              <p>Junio 10 de 2020</p>
            </div>
          </slide>
          <slide>
            <img src="assets/adoptions/10-06-2020/2.jpeg" alt="second slide" style="display: block; width: 100%;">
            <div class="carousel-caption">
              <p>Junio 10 de 2020</p>
            </div>
          </slide>
          <slide>
            <img src="assets/adoptions/10-06-2020/3.jpeg" alt="third slide" style="display: block; width: 100%;">
            <div class="carousel-caption">
              <p>Junio 10 de 2020</p>
            </div>
          </slide>
          <slide>
            <img src="assets/adoptions/10-06-2020/4.jpeg" alt="four slide" style="display: block; width: 100%;">
            <div class="carousel-caption">
              <p>Junio 10 de 2020</p>
            </div>
          </slide>
          <slide>
            <img src="assets/adoptions/10-06-2020/5.jpeg" alt="five slide" style="display: block; width: 100%;">
            <div class="carousel-caption">
              <p>Junio 10 de 2020</p>
            </div>
          </slide>
        </carousel>
      </div>
  </div>
  <hr>
  <div style="padding: 20px">
    <div class="jumbotron">
      <h3 class="text-center">¿Quieres ser parte de PetSon?</h3>
        <p class="text-center lead">
          puedes ser parte de la fundación apoyándonos comprando nuestros productos o siendo uno de nuestros
          <a href="https://audifax8.github.io/pet-son-landing/#/sponsors">patrocinadores.</a>
        </p>
        <hr class="my-4">
        <carousel [isAnimated]="true">
          <slide>
            <img src="assets/products/p1.jpeg" alt="first slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="assets/products/p2.jpeg" alt="third slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="assets/products/p3.jpeg" alt="first slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="assets/products/p4.jpeg" alt="third slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="assets/products/p5.jpeg" alt="third slide" style="display: block; width: 100%;">
          </slide>
        </carousel>
      </div>
  </div>
</div>
