<div class="jumbotron t-20">
    <h1 class="display-16">Login</h1>
    <form [formGroup]="loginForm">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input
            formControlName="{{loginConstants.USER_NAME}}"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"/>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            formControlName="{{loginConstants.PASSWORD}}"
            type="password"
            class="form-control"
            id="exampleInputPassword1"/>
        </div>
        <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
        <button type="submit" class="btn btn-primary" (click)="logout()">Close</button>
    </form>
    <hr class="my-4">
    <pre *ngIf="isDevMode">{{ loginForm.value | json}}</pre>
    <pre *ngIf="isDevMode">{{ user | async | json}}</pre>
</div>