<div class="row">
  <div class="col-lg-10 col-xl-9 mx-auto">
    <pre class="text-center" *ngIf="isDevMode">{{ error$ | async}}</pre>
    <div class="card card-signin flex-row my-5">
      <div class="card-img-left d-none d-md-flex">
        <!-- Background image for card set in CSS! -->
      </div>
      <div class="card-body">
        <h5 class="card-title text-center text-primary">Iniciar Sesión</h5>
        <form [formGroup]="loginForm">
          <div class="form-group">
            <input
              formControlName="{{loginConstants.USER_NAME}}"
              class="form-control"
              id="userNameEmail"
              aria-describedby="emailHelp"
              placeholder="usuario o email"
              [ngClass]="{'is-invalid': formS.isTouchedOrDirtyAndInvalid(loginConstants.USER_NAME, loginForm)}"/>
              <div class="invalid-feedback">
                <span *ngIf="formS.isTouchedOrDirtyAndInvalid(loginConstants.USER_NAME, loginForm)">
                  Ingrese el nombre de usuario o email.
                </span>
              </div>
          </div>
          <div class="form-group">
            <input
              formControlName="{{loginConstants.PASSWORD}}"
              class="form-control"
              id="password"
              type="password"
              aria-describedby="password"
              placeholder="contraseña"
              [ngClass]="{'is-invalid': formS.isTouchedOrDirtyAndInvalid(loginConstants.PASSWORD, loginForm)}"/>
              <div class="invalid-feedback">
                <span *ngIf="formS.isTouchedOrDirtyAndInvalid(loginConstants.PASSWORD, loginForm)">
                  Ingrese la contraseña.
                </span>
              </div>
          </div>
          <hr>
          <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="login()">Ingresar</button>
          <button class="btn btn-lg btn-warning btn-block" (click)="clearForm()">Limpiar Formulario</button>
          <hr class="my-4">
          <button class="btn btn-lg btn-google btn-block" (click)="socialLogin('GOOGLE')">
            <i class="fab fa-google mr-2"></i> Ingresar con cuenta de Google
          </button>
          <!--<button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit">
            <i class="fab fa-facebook-f mr-2"></i> Sign up with Facebook
          </button>-->
        </form>
        <pre *ngIf="isDevMode">{{ loginForm.value | json}}</pre>
      </div>
    </div>
  </div>
</div>

<!--<div class="jumbotron t-20">
    <h1 class="display-16">Login</h1>
    <form [formGroup]="loginForm">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input
            formControlName="{{loginConstants.USER_NAME}}"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"/>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            formControlName="{{loginConstants.PASSWORD}}"
            type="password"
            class="form-control"
            id="exampleInputPassword1"/>
        </div>
        <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
        <button type="submit" class="btn btn-primary" (click)="logout()">Close</button>
        <button type="button" (click)="userS.GoogleAuth()">
          Log in with Google
        </button>
    </form>
    <hr class="my-4">
    <pre *ngIf="isDevMode">{{ loginForm.value | json}}</pre>
    <pre *ngIf="isDevMode">{{ user$ | async | json}}</pre>
    <pre *ngIf="isDevMode">{{ error$ | async}}</pre>
</div>-->
<!--<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <form class="form-signin">
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputEmail">Email address</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <label for="inputPassword">Password</label>
              </div>

              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
              <hr class="my-4">
              <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
              <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>-->