<div class="row" id="contatti">
  <div class="container mt-5">
    <div class="row" style="height:550px;">
      <div class="col-md-6 maps" >
         <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d247.88896366214308!2d-75.5950368!3d6.2342529!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sco!4v1592062310757!5m2!1sen!2sco" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="col-md-6">
        <h2 class="text-uppercase mt-3 font-weight-bold text-black">{{'CONTACT.TITLE' | translate }}</h2>
        <form [formGroup]='contactForm' (ngSubmit)='submit()'>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <input type="text" 
                       class="form-control mt-2" 
                       [placeholder]="'CONTACT.NAME.PLACEHOLDER' | translate" 
                       formControlName="name"
                       [class.is-invalid]='nameNoValid'>
                       <small *ngIf='nameNoValid'
                              class="form-text text-danger">{{'CONTACT.NAME.ERROR' | translate}}
                       </small>
              </div>

            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <input type="email" 
                       class="form-control mt-2" 
                       [placeholder]="'CONTACT.EMAIL.PLACEHOLDER' | translate" 
                       formControlName="email"
                       [class.is-invalid]='emailNoValid'>
                       <small *ngIf='emailNoValid'
                              class="form-text text-danger">{{'CONTACT.EMAIL.ERROR' | translate}}
                       </small>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <input type="number" 
                       class="form-control mt-2" 
                       [placeholder]="'CONTACT.PHONE.PLACEHOLDER' | translate"
                       formControlName='phoneNumber'
                       [class.is-invalid]='phoneNumberNoValid'>
                       <small *ngIf='phoneNumberNoValid'
                              class="form-text text-danger">{{'CONTACT.PHONE.ERROR' | translate}}
                       </small>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <textarea class="form-control" 
                          id="exampleFormControlTextarea1" 
                          [placeholder]="'CONTACT.MESSAGE.PLACEHOLDER' | translate" 
                          rows="3"
                          formControlName="message"
                          [class.is-invalid]='messageNoValid'>
                </textarea>
                <small *ngIf='messageNoValid'
                        class="form-text text-danger">{{'CONTACT.MESSAGE.ERROR' | translate}}
                </small>
              </div>
            </div>
            
            <div class="col-12">
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" 
                        type="checkbox" 
                        value="" 
                        id="invalidCheck2" 
                        formControlName='policies'
                        [class.is-invalid]='policiesNoValid'>
                  <label class="form-check-label" for="invalidCheck2">
                    {{'CONTACT.POLICIES.PLACEHOLDER' | translate}}
                  </label>
                  <small *ngIf='policiesNoValid'
                          class="form-text text-danger"> {{'CONTACT.POLICIES.ERROR' | translate}}
                  </small>
                </div>
              </div>
            </div>
              <div class="col-12">
                <div class="form-group"
                     formGroupName="recaptchaReactive">
                  <re-captcha (resolved)="resolved($event)"  
                              siteKey='6LfnXbMZAAAAAC8H3gDop54mO976thXpOX4ql7o4'>  
                  </re-captcha>
                  <input class="form-check-input sr-only" 
                          type="checkbox" 
                          value="" 
                          formControlName='captcha'
                          [class.is-invalid]='captchaNoValid'>
                  <small *ngIf='captchaNoValid'
                         class="form-text text-danger"> {{'CONTACT.CAPTCHA.ERROR' | translate}}
                  </small>
              </div>
            </div>
            <div class="col-12">
              <button class="btn btn-primary" type="submit">Enviar</button>
            </div>
          </div>
        </form>
        <div class="text-black">
          <h4 class="mt-4 font-weight-bold">{{'CONTACT.SOCIALMEDIA' | translate}}</h4>
          <i class="fas fa-phone mt-3"></i> (+57)123456<br>
          <i class="fa fa-envelope mt-3"></i> petson@gmail.com<br>
          <i class="fas fa-globe mt-3"></i> Escuela de Adiestramiento canino Arca de Noé<br>
          <div class="my-4">
            <a href="https://www.facebook.com/FundacionPetSon/" target="_blank"><i class="fab fa-facebook fa-3x pr-4"></i></a>
            <!--<a href="#"><i class="fab fa-twitter fa-3x pr-4" target="_blank"></i></a>
            <a href="#"><i class="fab fa-linkedin fa-3x pr-4" target="_blank"></i></a>-->
            <a href="https://www.instagram.com/petsonmde/?hl=es-la" target="_blank"><i class="fab fa-instagram fa-3x pr-4"></i></a>
            <a href="#"><i class="fab fa-whatsapp fa-3x pr-4" target="_blank"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>