<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">
  <!-- beging blue var -->
  <div class="bg-primary">
    <div class="container">
      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h4 class="text-white mb-0">{{footerInfo.social.title | translate}}</h4>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          <a
            *ngFor="let element of footerInfo.social.elements"
            href="{{element.url}}"
            target="_blank"
            style="color: white"
          >
            <i class="fab {{element.icon}} fa-3x pr-4"></i>
          </a>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </div>
  </div>
  <!-- end blue var -->
  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">
    <!-- Grid row -->
    <div class="row mt-3">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold text-center">{{footerInfo.services.title | translate}}</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p class="text-primary text-center" *ngFor="let element of footerInfo.services.elements">
          <a>{{element | translate}}</a>
        </p>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold text-center">{{footerInfo.sponsors.title | translate}}</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p class="text-primary text-center" *ngFor="let element of footerInfo.sponsors.elements">
          <a>{{element | translate}}</a>
        </p>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold text-center">{{footerInfo.products.title | translate}}</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p class="text-center text-primary" *ngFor="let element of footerInfo.products.elements">
          <span class="badge badge-primary">{{element | translate}}</span>
        </p>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase font-weight-bold text-center">{{footerInfo.contact.title | translate}}</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p class="text-primary" *ngFor="let element of footerInfo.contact.elements">
          <i class="fas {{element.icon}} mr-3"></i> {{element.value}}
        </p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-primary">© 2020 {{footerInfo.copyRight | translate}}</div>
  <!-- Copyright -->
</footer>
<!-- Footer -->