<div>
  <div class="row no-gutters bg-light position-relative">
    <div class="col-md-3 mb-md-0 p-md-4">
      <h4 class="text-center">Arca de Noé</h4>
    </div>
    <div class="col-md-9 position-static p-4 pl-md-0">
      <img src="assets/sponsors/arca.jpg" style="display: block; width: 100%;">
    </div>
  </div>
  <br>
  <div class="row no-gutters bg-light position-relative">
    <div class="col-md-3 mb-md-0 p-md-4">
      <h4 class="text-center">Distribuidora DomiCopias</h4>
    </div>
    <div class="col-md-9 position-static p-4 pl-md-0">
      <img src="assets/sponsors/domi.png" style="display: block; width: 100%;">
    </div>
  </div>
</div>