<p>pets works!</p>
<pre>{{ pets$ | async | json }}</pre>
<pre>{{ totalItems$ | async }}</pre>
<pre>{{ petTypes$ | async | json }}</pre>
<!--<ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="length"></ngb-pagination>-->
<button (click)="nextPage($event)">next Page</button>
<button (click)="changeRecordsPerPage($event)">increaase petPage</button>

<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link">Previous</a></li>
      <li class="page-item"><a class="page-link">1</a></li>
      <li class="page-item"><a class="page-link">2</a></li>
      <li class="page-item"><a class="page-link">3</a></li>
      <li class="page-item"><a class="page-link">Next</a></li>
    </ul>
</nav>